@charset "UTF-8";

/*
CS 3312, spring 2023
Studio 3
YOUR NAME: Koji Nohara
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

/* Add your CSS rules below. */
body {

}

h1 {
   text-align: center;
}

.across {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.across div {
   border-color: rgb(0, 0, 0);
   border-style: solid;
   border-width: 1px;
   padding: 10px;
}

/* first-across */
.baseball-stats {
   border-color: black;
   border-style: solid;
   border-width: 2px;
}

/* second-across */

/* style in a table */
.baseball-stats {
   background-color: rgb(255, 225, 240);
}

.baseball-stats tr:nth-child(2n+2) {
   background-color: rgb(225, 255, 240);
}

.baseball-stats tr:nth-child(2n+3) {
   background-color: rgb(225, 240, 255);
}

.baseball-stats tr :nth-child(5) {
   background-color: rgb(255, 255, 220);
}
