@charset "UTF-8";

/*
CS 3312, spring 2023
Studio 3
YOUR NAME: Koji Nohara
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

/* Add your CSS rules below. */
body {
   font-family: serif, sans-serif, monospace, cursive or fantasy;
}

h1 {
   text-align: center;
   color: white;
   text-shadow: 0px 0px 20px  black, 0px 0px 30px  black, 0px 0px 40px  black, 0px 0px 50px  black;
}

h2 {
   font-style: italic;
   text-decoration: underline;
}

p {
   border: solid;
   border-color: black;
   padding: 10px;
   margin: 20px;
}

p::first-letter {
   font-size: 200%;
}

li {
   border-color: red;
}

.across {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.across > div {
   border-color: rgb(62, 165, 230);
   border-style: solid;
   border-width: 5px;
   padding: 10px;
   margin: 10px;
   /* A shadow outside the box */
   box-shadow: 3px 3px 15px black;
   border-radius: 20px 0 20px 0;
}

.across:nth-of-type(2) > div {
   display: flex;
   flex-direction: column;
   padding: 15px;
}

.across div div {
   border-style: solid;
   border-color: tomato;
   box-shadow: 3px 3px 8px black;
   margin-bottom: 10px;
}

.across div:nth-child(4) {
   margin-bottom: 0;
}

/* first-across */
/* .baseball-stats {
   border-color: black;
   border-style: solid;
   border-width: 2px;
} */

/* second-across */

/* style in a table */
.baseball-stats {
   border-color: black;
   border-style: solid;
   border-width: 2px;
   border-collapse: collapse;
   background-color: rgb(255, 225, 240);
   text-align: center;
}

.baseball-stats td,
.baseball-stats th {
   font-size: 90%;
   font-weight: 500;
   border-color: white;
   border-style: solid;
   border-width: 1.5px;
   padding: 5px;
   margin: 0px;
}

.baseball-stats tr:nth-child(2n+2) {
   background-color: rgb(225, 255, 240);
}

.baseball-stats tr:nth-child(2n+3) {
   background-color: rgb(225, 240, 255);
}

.baseball-stats tr :nth-child(5) {
   background-color: rgb(255, 255, 220);
}
